body {
    width: 100%;
    margin: auto;
    overflow-x: hidden;
}

@font-face {
    font-family: "TradeWinds-Regular";
    src: url(TradeWinds-Regular.ttf);
    font-display: swap;
}

:root{
  --zmp: 0;
  --zmp2: 0;
  --zmp3: 0;
  --zmp4: 0;
  --zmp5: 0;
  --zmp6: 0;
}

#main {
    width: 100%;
}

#bg {
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.mySlides {
    display: none;
}
#bg img {
    vertical-align: middle;
    object-fit: cover;
    height: 100%;
    right: 25%;
    min-width: 100%;
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



#p1 {
    width: 79%;
    margin: 10%;
    text-align: center;
    background-color: rgba(195, 195, 195, 0.5);
    z-index: 2;
    position: absolute;
    font-family: "TradeWinds-Regular";
    letter-spacing: 0.3vw;
    border-radius: 20px;
    margin-top: 85%;
}

#p1 img {
    margin: 3%;
}

#p111{
  -webkit-animation: tracking-in-contract-bck-top 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	animation: tracking-in-contract-bck-top 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}
@-webkit-keyframes tracking-in-contract-bck-top{0%{letter-spacing:1em;-webkit-transform:translateZ(400px) translateY(-300px);transform:translateZ(400px) translateY(-300px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0) translateY(0);transform:translateZ(0) translateY(0);opacity:1}}@keyframes tracking-in-contract-bck-top{0%{letter-spacing:1em;-webkit-transform:translateZ(400px) translateY(-300px);transform:translateZ(400px) translateY(-300px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0) translateY(0);transform:translateZ(0) translateY(0);opacity:1}}

#p111 h1{
    margin-bottom: 0;
}
#p111 h2{
    margin-top: 0;
}


#invisible_h3{
    z-index: -10;
    position: absolute;
    width: 30%;
    left:-35%;
}


#p2{
    top: 100%;
    width: 79%;
    margin: 10%;
    text-align: center;
    background-color: rgba(195, 195, 195, 0.5);
    z-index: 2;
    position: absolute;
    margin-bottom: 30%;
    font-size: 1.7vw;
    border-radius: 20px;
    font-family: "Comic Sans MS";
}

#p2 p{
  font-size: 5vw;
  font-weight: bold;
}

#ul{
    width: 80%;
    margin-left: 10%;
    text-align: left;
    font-size: 4vw;
    align-items:center;
}

#ul li {
    margin-bottom: 5%;
}

#ul a {
    text-decoration: none;
}

#ul a:active {
  background-color: #ffff00c0;
  color: #ff0000;
  padding: 0.7vw;
  border-radius: 0.5vw;
}

#ul img{
  margin-right: 2%;
  width: 20%;
  margin: 5%;
  vertical-align: middle;
}


#p3{
  top: 210%;
  width: 79%;
  margin: 10%;
  text-align: center;
  background-color: rgba(195, 195, 195, 0.5);
  z-index: 2;
  position: absolute;
  margin-bottom: 30%;
  font-size: 1.7vw;
  border-radius: 20px;
  font-family: "Comic Sans MS";
}

#p3 li{
  margin-bottom: 2%;
  font-size: 3.5vw;
}

#p3 p{
  font-size: 5vw;
  font-weight: bold;
}

#p3 h4{
    font-weight: normal;
}

#ul_p3{
  width: 80%;
  text-align: left;
  margin-left: 10%;
}

#p4{
    top: 310%;
    width: 79%;
    margin: 10%;
    text-align: center;
    background-color: rgba(195, 195, 195, 0.5);
    z-index: 2;
    position: absolute;
    font-size: 2vw;
    border-radius: 20px;
    font-weight: bold;
}




#animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
  font-size: 5vw;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}






#img1{
  margin-left: var(--zmp);
}
#img2{
  margin-left: var(--zmp2);
}
#img3{
  margin-left: var(--zmp3);
}
#img4{
  margin-left: var(--zmp4);
}
#img5{
  margin-left: var(--zmp5);
}
#img6{
  margin-left: var(--zmp6);
}






